

.navbar .navbar-nav {
	font-size: 14px;
    padding: 10px 15px;
    min-width: 100px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;}

.navbar-light .navbar-nav .nav-link.active {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);}
    .navbar-light .navbar-nav .nav-link {
		font-size: 14px;
	    padding: 10px 15px;
	    color: rgb(0, 0, 0);
	    cursor: pointer;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
		border-bottom: 4px solid transparent;}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid transparent;
    transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

.navbar .navbar-nav .nav-link:hover {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 101, 179);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);
	transition: all 0.2s cubic-bezier(0, 0, 1, 1) 0.2s;}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 15px !important;}

.navbar-expand-md .dropdown-menu {
    position: relative;
    top: 100%;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0065b3 !important;
    border-radius: 0 !important;}

/*-- Sliders --*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background-color: transparent !important;}

.owl-carousel.single-slider .owl-nav button.owl-prev {
	left: 7% !important;}
	.owl-carousel.single-slider .owl-nav button.owl-next {
		right: 7% !important;} 
	
.owl-carousel.owl-drag .owl-item > .owl-caption h1, .owl-caption1 h1 {
    position: relative;
    color: #fff;
    top: 150px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
	z-index: 5;
	animation-duration: 2s;
  	animation-delay: 1s;}
	.owl-carousel.owl-drag .owl-item > .owl-caption h4, .owl-caption1 h4 {
    position: relative;
    color: yellow;
    top: 150px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
	z-index: 10;
	animation-duration: 2s;
  	animation-delay: 1s;}
    .owl-carousel.owl-drag .owl-item .owl-back {
    	position: absolute;
    	background-color: #000;
    	opacity: 0.4;
    	top: 0;
    	bottom: 0;
        width: 100%;
        height: 100%;}
        .owl-carousel.owl-drag .owl-item .btn-danger {
        	font-size: 15px;
        	font-weight: 600;}

/*-- Search Form --*/

#search-form {
	position: relative;
    top: -116px;
    margin-bottom: -100px;
    z-index: 2;}

#search-form .nav {
	display: -webkit-inline-box;}

#search-form .card {
	top: -68px;
	margin-bottom: -70px;
	border-radius: 10px;
	border: 0.3px solid #e4e4e4;
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;}
	#search-form .card:hover {
		box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 20px 5px;
		transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0.2s;}

#search-form .nav-link {
	min-width: 200px;
    height: 65px;
    line-height: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(119, 119, 119);
    text-align: center;
    border-bottom: 5px solid transparent;}
    #search-form .nav-link:hover {
    	min-width: 200px;
    	border-bottom: 5px solid rgb(0, 101, 179);
    	transition: all 0.5s cubic-bezier(0, 0, 1, 1) 0.2s;}

#search-form .nav-link.active {
	color: rgb(0, 101, 179) ;
    border-bottom: 5px solid rgb(0, 101, 179);}
		
	#search-form .card-header {
		height: inherit;
	    margin-bottom: 0;
	    background-color: #ccc;
	    border: 0.5px solid #ccc;
		border-radius: 10px 10px 0 0;
		overflow-x: auto;
		overflow-y: hidden;}
		
.btn-search {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;}

.btn-outline-search {
    color: #fff !important;
    background-color: rgb(0, 101, 179) !important;
    border-color: rgb(0, 101, 179) !important;}
    .btn-outline-search:hover {
        background-color: #c2191f;
        color: #ffff !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15)!important;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;}

.featured-box .featured-box-icon {
    display: inline-block;
    font-size: 40px!important;
    padding-top: 20px;}

.featured-box.style-4 .featured-box-icon {
    width: 70px !important;
    height: 70px !important;
    font-size: 25px !important;
    color: #fff !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;}
    .featured-box.style-4 .featured-box-icon i.fas {
        font-size: 25px !important;}

#back-to-top {
	bottom: 50px !important;
    right: 23px !important;
    background-color: #ccc !important;}
    #back-to-top:hover {
    	background-color: rgb(0, 101, 179) !important;}

/*-- Footer --*/

