
.navbar-brand {
    display: inline-block;
    padding-top: 5px;
    margin-right: 5px;}

.navbar .navbar-nav {
	font-size: 14px;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;}

@media (min-width: 992px){

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #ffffff;}
}

.navbar-light .navbar-nav .nav-link.active {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0.2s;}
    .navbar-light .navbar-nav .nav-link {
		font-size: 14px;
	    padding: 10px 15px;
	    color: rgb(0, 0, 0);
	    cursor: pointer;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
		border-bottom: 4px solid transparent;}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid transparent;
    transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

.navbar .navbar-nav .nav-link:hover {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 101, 179);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);
	transition: all 0.2s cubic-bezier(0, 0, 1, 1) 0.1s;}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 15px !important;}

.navbar-expand-md .dropdown-menu {
    position: relative;
    top: 100%;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;}

.navbar-toggler .collapsed button {
    width: 20px;
    height: 20px;}

#header {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 60px 10px #21252996 !important;
    position: relative;
    z-index: 1000;}
    #header:hover {
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 60px 20px #21252996 !important;
        transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0.2s;}

#menu .navbar-collapse .collapse .show {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#menu ul > li > div.dropdown-menu.show {
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    left: -87px;
    border: 0.3px solid #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;}
    #menu ul > li > div.dropdown-menu.show:hover{
        box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 20px 5px;
        transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0.2s;}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0065b3 !important;}

.login-form {
    padding: 0 8px;
    text-transform: capitalize;}

/*-- Sliders --*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background-color: transparent !important;}

.owl-carousel.single-slider .owl-nav button.owl-prev {
	left: 7% !important;}
	.owl-carousel.single-slider .owl-nav button.owl-next {
		right: 7% !important;} 
	
.owl-carousel.owl-drag .owl-item > .owl-caption h1, .owl-caption1 h1 {
    position: relative;
    color: #fff;
    top: 150px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
	z-index: 5;
	animation-duration: 2s;
  	animation-delay: 1s;}
	.owl-carousel.owl-drag .owl-item > .owl-caption h4, .owl-caption1 h4 {
    position: relative;
    color: yellow;
    top: 150px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
	z-index: 10;
	animation-duration: 2s;
  	animation-delay: 1s;}
    .owl-carousel.owl-drag .owl-item .owl-back {
    	position: absolute;
    	background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #a00b10 0%, rgb(0, 101, 179) 90% );
    	opacity: 0.6;
    	top: 0;
    	bottom: 0;
        width: 100%;
        height: 100%;}
        .owl-carousel.owl-drag .owl-item .btn-danger {
        	font-size: 15px;
        	font-weight: 600;}

/*-- Search Form --*/
.progress { 
    height: 3px !important;
    border-top: 0.3px solid #fff; }
.bg-pattern {
    background-image: url(../img/pattern-travel.png);
    background-size: contain;
    background-blend-mode: luminosity;
    background-position: center;}

#search-form {
	position: relative;
    top: -116px;
    margin-bottom: -100px;
    z-index: 2;}

#search-form .nav {
	display: -webkit-inline-box;}

#search-form .card {
	top: -68px;
	margin-bottom: -70px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;}
	#search-form .card:hover {
		box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 20px 5px;
		transition: all 0.2s cubic-bezier(0, 0, 0, 1) 0.2s;}

#search-form .card-body {
    border-radius: 0 0 10px 10px;
    padding: 8px;
    border: 1px solid #f8f9fa;}

#search-form .nav-link {
	min-width: 200px;
    height: 65px;
    line-height: 20px;
    padding: 13px 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(119, 119, 119);
    text-align: center;
    border-bottom: 5px solid transparent;}
    #search-form .nav-link:hover {
    	min-width: 200px;
        color: #0071cc;
    	border-bottom: 5px solid rgb(0, 101, 179);
    	transition: all 0.2s cubic-bezier(0, 0, 1, 1) 0.2s;}

#search-form .nav-link.active {
	color: rgb(0, 101, 179) ;
    border-bottom: 5px solid rgb(0, 101, 179);}
		
	#search-form .card-header {
		height: inherit;
	    margin-bottom: 0;
	    background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #ccc 0%, #e9ecef 90% );
		border-radius: 10px 10px 0 0;
		overflow-x: auto;
		overflow-y: hidden;}

#flight div.bg-light.p-3 {
    border-radius: 0 0px 10px 10px;}

#hotel div.bg-light.p-3 {
    border-radius: 0 0 10px 10px;}

#train div.bg-light.p-3 {
    border-radius: 0 0 10px 10px;}
		
.btn-search {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;}

.btn-outline-search {
    color: #fff !important;
    background-color: rgb(0, 101, 179) !important;
    border-color: rgb(0, 101, 179) !important;}
    .btn-outline-search:hover {
        background-color: #c2191f;
        color: #ffff !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15)!important;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;}

.btn.btn-link.float-right {
    color: #ffc107;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;}
    .btn.btn-link.float-right:hover {
        color: #fff;}

.featured-box .featured-box-icon {
    display: inline-block;
    font-size: 40px!important;
    padding-top: 20px;}

.featured-box.style-4 .featured-box-icon {
    width: 70px !important;
    height: 70px !important;
    font-size: 25px !important;
    color: #fff !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;}
    .featured-box.style-4 .featured-box-icon i.fas {
        font-size: 25px !important;}

.img-fluid {
    max-width: 100%;
    height: 160px !important;}

#back-to-top {
	bottom: 50px !important;
    right: 23px !important;
    background-color: #ccc !important;}
    #back-to-top:hover {
    	background-color: rgb(0, 101, 179) !important;}

/*-- Filter List --*/

#filterTop div > button {
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;}

#filterTop div > button > i {
    color: orange;
    padding-left: 5px;}

#filterTop div > .btn:focus, .btn.active, .button:focus, .button:active {}

#kelas div > ul > li, #kereta div > ul > li, #jam-berangkat div > ul > li, #harga-tiket div > ul > li {
    display: inline-block;
    margin-right: 40px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.5s ease;
    max-width: 90px;
    border-bottom: 0.5px solid #ccc;}

#kelas div > ul > li > label span {
    margin-right: 50px;}

#avail div > .title1, .title2, .station, .duration, .price {
    font-size: 13px;
    font-weight: 300;} 
    #avail div > .title1, .time, .duration, .price {
        font-size: 14px;
        font-weight: 500;} 
        #avail div.card-body:hover {
            -webkit-transition: all 0.1s ease;
            transition: all 0.5s ease;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;}
            #avail div.card-body {
                border-radius: 5px;}

#sort-avail * > div > a {
    text-align: left;
font-size: 12px;}

#myGroup, #myGroup2 {
    font-size: 13px;
    font-weight: 300;
    color: #999;}

#myGroup ul, #myGroup2 ul {
    margin-bottom: -8px;
    padding-left: 0;
    padding-top: 12px;}
#myGroup ul > li, #myGroup2 ul > li {
    display: inline-flex;
    position: relative;
    top: 0px;
    margin-bottom: -10px;
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
    padding-right: 20px;}
#myGroup ul > li > a:hover, #myGroup2 ul > li > a:hover  {
    border-bottom: 2px solid rgb(0, 101, 179);
    -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;}

/*-- Footer --*/

