body {
    background: #e7e9ed;
    color: #535b61;
    font-family: "Poppins", sans-serif;
    font-size: 14px!important;
    line-height: 22px!important;}

.navbar-brand {
    display: inline-block;
    padding-top: 5px;
    margin-right: 5px;}

.navbar .navbar-nav {
	font-size: 14px;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;}

@media (min-width: 992px){

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #ffffff;}
}

.navbar-light .navbar-nav .nav-link.active {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);
    transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;}
    .navbar-light .navbar-nav .nav-link {
		font-size: 14px;
	    padding: 10px 15px;
	    color: rgb(0, 0, 0);
	    cursor: pointer;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
		border-bottom: 4px solid transparent;}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid transparent;
    transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

.navbar .navbar-nav .nav-link:hover {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 101, 179);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);
	transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 15px !important;}

.navbar-expand-md .dropdown-menu {
    position: relative;
    top: 100%;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;}

.navbar-toggler .collapsed button {
    width: 20px;
    height: 20px;}

#header {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 60px 10px #21252996 !important;
    position: relative;
    z-index: 1000;}
    #header:hover {
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 60px 20px #21252996 !important;
        transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;}

#menu .navbar-collapse .collapse .show {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;}

#menu ul > li > div.dropdown-menu.show {
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    left: -87px;
    border: 0.3px solid #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;}
    #menu ul > li > div.dropdown-menu.show:hover{
        box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 20px 5px;
        transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.5s;}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0065b3 !important;}

.login-form {
    padding: 0 8px;
    text-transform: capitalize;}

section.page-header.bg-page-header {
    font-size: 12px;
    line-height: 10px;
    background: rgb(3,79,140);
    background: linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%);}

/*-- Sliders --*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background-color: transparent !important;}
    .owl-carousel.single-slider .owl-nav button.owl-prev {
    	left: 7% !important;}
    	.owl-carousel.single-slider .owl-nav button.owl-next {
    		right: 7% !important;} 
	
.owl-carousel.owl-drag .owl-item > .owl-caption h1, .owl-caption1 h1 {
    position: relative;
    color: #fff;
    top: 150px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
	z-index: 5;
	animation-duration: 2s;
  	animation-delay: 1s;}
	.owl-carousel.owl-drag .owl-item > .owl-caption h4, .owl-caption1 h4 {
        position: relative;
        color: yellow;
        top: 150px;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    	z-index: 10;
    	animation-duration: 2s;
      	animation-delay: 1s;}
        .owl-carousel.owl-drag .owl-item .owl-back {
        	position: absolute;
        	background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #a00b10 0%, rgb(0, 101, 179) 90% );
        	opacity: 0.6;
        	top: 0;
        	bottom: 0;
            width: 100%;
            height: 100%;}
            .owl-carousel.owl-drag .owl-item .btn-danger {
            	font-size: 15px;
            	font-weight: 600;}

/*-- Search Form --*/

.progress { 
    height: 5px !important;
    background: linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, #f8f9fa 35%, #dee2e6 100%);
    border-bottom: 0px solid #eaeaea;
    -webkit-transition: none !important;
    transition: none !important;}

.bg-progress {
    background: linear-gradient(45deg, #fff 35%, #ffc107 100%);}

.bg-pattern {
    background-image: url(../img/pattern-travel.png);
    background-size: contain;
    background-blend-mode: luminosity;
    background-position: center;
    opacity: 0.5;}

#search-form {
	position: relative;
    top: -116px;
    margin-bottom: -100px;
    z-index: 2;}

#search-form .nav {
	display: -webkit-inline-box;}

#search-form .card {
	top: -68px;
    background-color: rgba(250, 250, 250, 0);
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;}
	#search-form .card:hover {
		box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 20px 5px;
		transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;}

#search-form .card-body {
    border-radius: 0 0 10px 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #f8f9fa;}

#search-form .nav-link {
	min-width: 200px;
    height: 65px;
    line-height: 20px;
    padding: 13px 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(119, 119, 119);
    text-align: center;
    border-bottom: 5px solid transparent;}
    #search-form .nav-link:hover {
    	min-width: 200px;
        color: #0071cc;
    	border-bottom: 5px solid rgb(0, 101, 179);
    	transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

#search-form .nav-link.active {
	color: rgb(0, 101, 179) ;
    border-bottom: 5px solid rgb(0, 101, 179);}
		
	#search-form .card-header {
		height: inherit;
	    margin-bottom: 0;
	    background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #ccc 0%, #e9ecef 90% );
		border-radius: 10px 10px 0 0;
		overflow-x: auto;
		overflow-y: hidden;}

#flight div.bg-light {
    padding: 10px 15px 0 15px;
    border-radius: 0 0px 10px 10px;}

#hotel div.bg-light {
    padding: 10px 15px 0 15px;
    border-radius: 0 0 10px 10px;}

#train div.bg-light {
    padding: 10px 15px 0 15px;
    border-radius: 0 0 10px 10px;}
		
.btn-search {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;}

.btn-outline-search {
    color: #fff !important;
    background-color: rgb(0, 101, 179) !important;
    border-color: rgb(0, 101, 179) !important;}
    .btn-outline-search:hover {
        background-color: #c2191f;
        color: #ffff !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15)!important;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;}

.btn.btn-link.float-right {
    color: #ffc107;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;}
    .btn.btn-link.float-right:hover {
        color: #fff;}

.featured-box .featured-box-icon {
    display: inline-block;
    font-size: 40px!important;
    padding-top: 20px;}

.featured-box.style-4 .featured-box-icon {
    width: 70px !important;
    height: 70px !important;
    font-size: 25px !important;
    color: #fff !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;}
    .featured-box.style-4 .featured-box-icon i.fas {
        font-size: 25px !important;}

.img-fluid {
    max-width: 100%;
    height: 160px !important;}

#back-to-top {
	bottom: 50px !important;
    right: 23px !important;
    background-color: #ccc !important;}
    #back-to-top:hover {
    	background-color: rgb(0, 101, 179) !important;}

/*-- Filter List --*/

#filterTop div > .filter-header {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    float: left;}
    #filterTop div > .filter-header a.collapsed { 
        color: #000;
        font-weight: 400;}
    #filterTop div > .filter-header a { 
        color: orange;
        font-weight: 400;}

#filterTop div > .filter-header a::after {
    content:"\f107"; 
    font-family: "Font Awesome 5 Free";
    font-size: 18px; 
    font-weight: 900;
    line-height: 19px;
    float: right;
    color: orange;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    #filterTop div > .filter-header a[aria-expanded="true"]:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);}


#filterTop div > .filter-header a { 
    font-size: 14px;
    padding: 5px 10px;
    background: #fff;
    text-align: left;
    width: 120px;}

#filterTop div > button > i {
    color: orange;
    padding-left: 5px;}

#filterTop div > ul > li > .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #ffc107!important;
    background-color: #ffc107!important;}

/* indicator */

#filterTop div > .filter-header .status {
    position: relative;
    background-color: #fd6372;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: solid 1px white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
    opacity: 0.3;
    left: -3px;
    top: -35px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;}

#filterTop div > .filter-header a[input:checked] ~ .status::after {
    position: relative;
    background-color: #fd6372;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: solid 1px white;
    box-shadow: 0 2px 5px #ccc;
    display: block;
    opacity: 1;}



/* indicator */

#filterTop div.card.bg-gradient-blue.rounded.mt-1.pb-0 {
    background: linear-gradient(-5deg, rgba(250, 250, 250, 0.8) 0%, #fff 100%, #f8f9fa 100%);
    box-shadow: 0 2px 5px #cccccc87;
    margin-top: 10px !important;
    margin-bottom: 1px;
    border-radius: 5px 5px 0 0!important;}

#filterTop div > .filter-reset {
    padding: 5px 10px;
    position: relative;
    display: block;
    float: left;
    margin-top: 6px;
    font-size: 14px;}

#harga-tiket div > span > .irs-bar {
    height: 7px;
    top: 24px;
    background: linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, rgba(255, 193, 7, 0.7) 35%, rgb(220, 53, 69) 100%);}
    #harga-tiket div > span > span > .irs-line {
        height: 5px;
        background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #dee2e6 35%, #e4e9ec 100%);}
    #harga-tiket div > span > span > .irs-min {
        color: #999;
        background: #fff;}
    #harga-tiket div > span > span > .irs-max {
        color: #999;
        background: #fff;}
    #harga-tiket div > span > span > .irs-grid-text {
        color: #ccc;
        background: #fff;}
    #harga-tiket div > span > span > .irs-from {
        background: #fff;
        color: #000;}
    #harga-tiket div > span > span > .irs-to {
        background: #fff;
        color: #000;}
    #harga-tiket div > span > span.irs-handle {
        height: 11px;}
        #harga-tiket div > span > span.irs-handle.from i {
            background: #e4e4e4;}
    #harga-tiket div > span > span > .irs-grid-pol {
        background: #ccc;}
    #harga-tiket div > span > span > .irs-grid {
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 20px;}

#harga-tiket div > .ui-state-default, .ui-widget-content .ui-state-default {
    border: 3px solid #fff;
    background-color: #0071cc!important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;}

#harga-tiket div > .ui-slider-horizontal .ui-slider-handle {
    top: -9px;
    margin-left: 0px;
    border-radius: 100%;
    background: #fff;
    width: 20px;
    height: 20px;}

#kelas div.form-group, #kereta div.form-group, #jam-berangkat div.form-group, #harga-tiket div.form-group {
    margin: 10px 10px;
    padding: 5px 5px;}

#kelas div > ul, #kereta div > ul, #jam-berangkat div > ul, #harga-tiket div > ul {
    font-size: 15px;
    margin: 0 0;}

#kelas div > ul > li, #kereta div > ul > li, #jam-berangkat div > ul > li, #harga-tiket div > ul > li {
    display: inline-flex;
    max-width: 100%;
    margin: 0px 100px 0px 7px;
    margin-bottom: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    max-height: 100%;
    position: relative;
    line-height: 24px;
    width: 182px;}

@media (min-width: 1140px) {
    #kelas div > ul > li { margin-right: 0; width: 130px; }
    #kereta div > ul > li { margin-right: 0; width: 140px; }
    #jam-berangkat div > ul > li { margin-right: 165px; width: 185px;}
    #harga-tikets div > ul > li { margin-right: 50%; }
    #slider-range { width: 60%;}
} 

/*-- Dropdown Travellers --*/

.travellers-dropdown .qty .btn {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;}

/*-- Avail list --*/

#avail div > .title1, .title2, .station, .duration, .price {
    font-size: 13px;
    font-weight: 300;} 
    #avail div > .title1, .time, .duration, .price {
        font-size: 14px;
        font-weight: 500;} 
        #avail div.card-body:hover {
            -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;}
            #avail div.card-body {
                border-radius: 5px;}

#sort-avail * > div > a {
    text-align: left;
    font-size: 13px;}
#sort-avail {
    border-radius: 0 0 5px 5px;
    background: linear-gradient(-45deg, #fff 100%, rgba(250, 250, 250, 0.8) 100%);
    border-top: 0.3px solid #eaeaea;}

#myGroup, #myGroup2 {
    font-size: 13px;
    font-weight: 300;
    color: #999;}

#myGroup ul, #myGroup2 ul {
    margin-bottom: -8px;
    padding-left: 0;
    padding-top: 12px;}
#myGroup ul > li, #myGroup2 ul > li {
    display: inline-flex;
    position: relative;
    top: 0px;
    margin-bottom: -10px;
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
    padding-right: 20px;}
#myGroup ul > li > a:hover, #myGroup2 ul > li > a:hover  {
    border-bottom: 2px solid rgb(0, 101, 179);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;}

#itinerary, #details div > h5 {
    font-size: 15px;
    font-weight: 400;
    color: #000;}


/*-- Footer --*/

