@import '~bootstrap/scss/bootstrap.scss';

@import "variables";
@import "mixins";

// Core CSS
@import "reset";
@import "helpers";
@import "layouts";

// Content Blocks
@import "header";
@import "booking"; // Search Form 
@import "elements";
@import "footer";
@import "extras"; 

// Main style
:root {
	--bg1: linear-gradient(-45deg, #e9ecef 0%, #fff 100%, #f8f9fa 10%);
	--bg2: linear-gradient(37deg, rgba(250, 250, 250, 0.8) 0%, #ffffff 100%, rgba(0, 0, 0, 0.15) 100%);
	--bg3: linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%);
	--bg4: linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%);
}
body {
	background: #e7e9ed;
	color: #777;
	font-family: "Poppins", sans-serif;
	font-size: 14px !important;
	line-height: 22px !important;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px #e5e5e5;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	}
}
.btn-primary {
	background-color: #0071cc;
	border-color: rgba(250, 250, 250, 0.8);
}
.font-weight-md {
	font-size: 14px;
	font-weight: 500 !important;
}
.bg-gradient-blue {
	background: linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%);
	box-shadow: 0 10px 20px #ccc;
	margin-top: 10px !important;
	margin-bottom: 1px;
	border-radius: 5px 5px 0 0 !important;
	border-top: 0.5px solid #ffffff;
	border-left: 0.5px solid #e4e9ec;
	border-right: 0.5px solid #e4e9ec;
}
.navbar-brand {
	display: inline-block;
	padding-top: 5px;
	margin-right: 5px;
}
.navbar {
	.navbar-nav {
		font-size: 14px;
		padding: 10px 15px;
		color: rgb(0, 0, 0);
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		.nav-link {
			font-size: 14px;
			padding: 10px 15px !important;
			color: rgb(0, 0, 0);
			cursor: pointer;
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			border-bottom: 4px solid transparent;
			transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;
			&:hover {
				font-size: 14px;
				padding: 10px 15px !important;
				color: rgb(0, 101, 179);
				cursor: pointer;
				font-weight: 600;
				text-transform: uppercase;
				text-align: center;
				border-bottom: 4px solid rgb(0, 101, 179);
				transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;
			}
		}
	}
}
.navbar-toggler {
	width: 23px !important;
	.collapsed {
		button {
			width: 20px;
			height: 20px;
		}
	}
}
#menu {
	.dropdown-menu {
		left: -89px !important;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 5px;
		border: none;
		border-radius: 5px;
	}
}
.navbar-light {
	.navbar-nav {
		.nav-link.active {
			border-bottom: 4px solid rgb(0, 101, 179);
			transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;
		}
		.nav-link {
			border-bottom: 4px solid transparent;
		}
	}
}
.navbar-expand-md {
	.navbar-nav {
		.nav-link {
			padding: 10px 15px !important;
		}
	}
}
#header {
	background: #fff;
	position: relative;
	z-index: 1000;
}
.login-form {
	padding: 15px !important;
	text-transform: capitalize;
}
section.page-header.bg-page-header {
	font-size: 12px;
	line-height: 10px;
	background: rgb(3,79,140);
	background: linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%);
}
.owl-carousel {
	.owl-nav {
		button.owl-next {
			background-color: transparent !important;
		}
		button.owl-prev {
			background-color: transparent !important;
		}
	}
}
.owl-carousel.single-slider {
	.owl-nav {
		button.owl-prev {
			left: 7% !important;
		}
		button.owl-next {
			right: 7% !important;
		}
	}
}
.owl-carousel.owl-drag {
	.owl-item {
		>.owl-caption {
			h1 {
				position: relative;
				color: #fff;
				top: 150px;
				font-size: 40px;
				font-weight: 500;
				text-align: center;
				z-index: 5;
				animation-duration: 2s;
				animation-delay: 1s;
			}
			h4 {
				position: relative;
				color: yellow;
				top: 150px;
				font-size: 20px;
				font-weight: 300;
				text-align: center;
				z-index: 10;
				animation-duration: 2s;
				animation-delay: 1s;
			}
		}
		.owl-back {
			position: absolute;
			background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #a00b10 0%, rgb(0, 101, 179) 90% );
			opacity: 0.6;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		.btn-danger {
			font-size: 15px;
			font-weight: 600;
		}
	}
}
.owl-caption1 {
	h1 {
		position: relative;
		color: #fff;
		top: 150px;
		font-size: 40px;
		font-weight: 500;
		text-align: center;
		z-index: 5;
		animation-duration: 2s;
		animation-delay: 1s;
	}
	h4 {
		position: relative;
		color: yellow;
		top: 150px;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		z-index: 10;
		animation-duration: 2s;
		animation-delay: 1s;
	}
}
.progress {
	height: 5px !important;
	background: linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, #f8f9fa 35%, #dee2e6 100%);
	-webkit-transition: none !important;
	transition: none !important;
}
.bg-progress {
	background: linear-gradient(45deg, #fff 35%, #ffc107 100%);
}
.bg-pattern {
	background-image: url(../img/pattern-travel.png);
	background-size: contain;
	background-blend-mode: luminosity;
	background-position: center;
	opacity: 0.5;
}
#search-form {
	position: relative;
	top: -116px;
	margin-bottom: -100px;
	z-index: 2;
	svg {
		margin-top: -5px;
		right: 0px;
		position: absolute;
	}
	.travellers-class {
		svg {
			margin-top: 0px;
			right: 0px;
			position: absolute;
			&:hover {
				color: black;
			}
		}
		
	}
	.nav {
		display: flex;
		flex-wrap: nowrap;
	}
	.card {
		top: -68px;
		background-color: rgba(250, 250, 250, 0);
		box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 20px 5px;
			transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;
		}
	}
	.card-body {
		border-radius: 0 0 10px 10px;
		padding: 8px;
		background-color: #fff;
		border: 1px solid #f8f9fa;
	}
	.nav-link {
		min-width: 200px;
		height: 65px;
		line-height: 20px;
		padding: 13px 5px;
		font-size: 15px;
		font-weight: 600;
		color: rgb(119, 119, 119);
		text-align: center;
		border-bottom: 5px solid transparent;
		&:hover {
			min-width: 200px;
			color: #0071cc;
			border-bottom: 5px solid rgb(0, 101, 179);
			transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;
		}
	}
	.nav-link.active {
		color: rgb(0, 101, 179);
		border-bottom: 5px solid rgb(0, 101, 179);
	}
	.card-header {
		height: inherit;
		margin-bottom: 0;
		background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #ccc 0%, #e9ecef 90% );
		border-radius: 10px 10px 0 0;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.react-datepicker-wrapper {
		display: block;
	}
	.react-datepicker {
		color: #000;
		border: none;
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
		padding: 3px;
		top: -10px;
	}
	.react-datepicker__header {
		border-bottom: 1px solid #0071cc;
	}
	.react-datepicker__day {
		&:hover {
			font-weight: bolder;
		}
	}
	.react-datepicker__day--selected-start {
		background-color: #e50000;
		border-radius: 5px 0 0 5px;
		color: #fff;
	}
	.react-datepicker__day--in-range {
		background-color: #b8daff;
		color: #fff;
		border-radius: 0px;
		width: 33px;
		margin-left: 0;
		margin-right: 0;
	}
	.react-datepicker__day--today {
		font-weight: bolder;
		background-color: #ffefa9;
		border-radius: 25px;
		color: #000;
	}
	.react-datepicker__day--in-selecting-range {
		border-radius: 0px;
		background-color: #e5e5e5!important;
		color: #000;
		width: 33px;
		margin-left: 0;
		margin-right: 0;
		&:hover {
			color:#000;
			//border-bottom: 2px solid red;
			border-left: 0;
			border-right: 2px solid red;
			//border-top: 1px solid red;
			border-radius: 0;
		}
		&.react-datepicker__day--range-end {
			border-radius: 0!important;
		}
	}
	.react-datepicker__day--selecting-range-start {
		background-color: #0071cc;
		border-radius: 5px 0 0 5px;
		color: #fff;
	}
	.react-datepicker__day--selecting-range-end {
		background-color: #0071cc;
		border-radius: 0 5px 5px 0;
	}
	.react-datepicker__day--range-start {
		background-color: #0071cc;
		border-radius: 5px 0 0 5px;
		color: #fff;
		font-weight: bolder;
	}
	.react-datepicker__day--range-end {
		background-color: red;
		border-radius: 0 5px 5px 0;
		color: #fff;
		font-weight: bold;
	}
}

#flight {
	div.bg-light {
		padding: 10px 15px 0 15px;
		border-radius: 0 0px 10px 10px;
	}
}
#hotel {
	div.bg-light {
		padding: 10px 15px 0 15px;
		border-radius: 0 0 10px 10px;
	}
}
#train {
	div.bg-light {
		padding: 10px 15px 0 15px;
		border-radius: 0 0 10px 10px;
	}
}
.btn-search {
	background-color: #ffc107 !important;
	border-color: #ffc107 !important;
}
.btn-outline-search {
	color: #fff !important;
	background-color: rgb(0, 101, 179) !important;
	border-color: rgb(0, 101, 179) !important;
	&:hover {
		background-color: #c2191f;
		color: #ffff !important;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;
		-webkit-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
}
.btn.btn-link.float-right {
	color: #ffc107;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	&:hover {
		color: #fff;
	}
}
.featured-box {
	.featured-box-icon {
		display: inline-block;
		font-size: 40px !important;
		padding-top: 20px;
	}
}
.featured-box.style-4 {
	.featured-box-icon {
		width: 70px !important;
		height: 70px !important;
		font-size: 25px !important;
		color: #fff !important;
		padding: 0px;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;
		i.fas {
			font-size: 25px !important;
		}
	}
}
.img-fluid {
	max-width: 100%;
	height: 160px !important;
}

.scroll-to-top {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	animation: fadeIn 700ms ease-in-out 1s both;
	cursor: pointer;
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

#back-to-top {
	bottom: 50px !important;
	right: 23px !important;
	background-color: #ccc !important;
	&:hover {
		background-color: rgb(0, 101, 179) !important;
	}
}
#filterTop {
	div {
		>.filter-header {
			padding: 5px 10px;
			font-size: 14px;
			font-weight: 400;
			float: left;
			Button {
				color: #000;
				font-weight: 400;
			}
			Button {
				color: #0071cc;
				font-weight: 400;
				font-size: 14px;
				padding: 5px 10px;
				background: #fff;
				text-align: left;
				width: 120px;
				&::after {
					content: " \f107";
					font-family: "Font Awesome 5 Free";
					font-size: 18px;
					font-weight: 600;
					line-height: 19px;
					float: right;
					color: lightgrey;
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
				}
			}
			Button[aria-expanded="true"] {
				&::after {
					content: "\f107";
					color: #ffc100;
					-webkit-transform: rotate(-180deg);
					-moz-transform: rotate(-180deg);
					transform: rotate(-180deg);
				}
			}
			// .status {
			// 	position: relative;
			// 	background-color: #fd6372;
			// 	width: 10px;
			// 	height: 10px;
			// 	border-radius: 25px;
			// 	border: solid 1px white;
			// 	box-shadow: 0 2px 5px #ccc;
			// 	display: none;
			// 	opacity: 0.3;
			// 	left: -3px;
			// 	top: -35px;
			// 	-webkit-transition: all 0.5s ease;
			// 	transition: all 0.5s ease;
			// }
			Button.input:checked {
				~ {
					.status {
						&::after {
							position: relative;
							background-color: #fd6372;
							width: 10px;
							height: 10px;
							border-radius: 25px;
							border: solid 1px white;
							box-shadow: 0 2px 5px #ccc;
							display: block;
							opacity: 1;
						}
					}
				}
			}
			span {
				padding-top: 5px;
				display: block;
				height: 100%;
			}
		}
		>Button {
			>i {
				color: orange;
				padding-left: 5px;
			}
		}
		>ul {
			>li {
				>.custom-control-input {
					&:checked {
						~ {
							.custom-control-label {
								&::before {
									color: #fff;
									border-color: #ffc107 !important;
									background-color: #ffc107 !important;
								}
							}
						}
					}
				}
			}
		}
		>.filter-reset {
			padding: 5px 0px;
			display: block;
			float: left;
			font-size: 14px;
			margin-left: -10px;
		}
	}
	div.card.bg-gradient-blue {
		background: linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%);
		box-shadow: 0 10px 20px #ccc;
		margin-top: 10px !important;
		margin-bottom: 1px;
		border-radius: 5px 5px 0 0 !important;
		border-top: 0.5px solid #ffffff;
		border-left: 0.5px solid #e4e9ec;
		border-right: 0.5px solid #e4e9ec;
	}
}
#harga-tiket {
	div {
		>span {
			 >.irs-bar {
				height: 5px;
			// 	top: 24px;
			background-color: #0071cc;;
			// 	background: linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, rgba(255, 193, 7, 0.7) 35%, rgb(220, 53, 69) 100%);
			 }
			>span {
				 >.irs-line {
				// 	height: 5px;
				 	background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #dee2e6 35%, #e4e9ec 100%);
				 }
				>.irs-min {
					color: transparent;
					background: transparent;
				}
				>.irs-max {
					color: transparent;
					background: transparent;
				}
				>.irs-grid-text {
					color: #ccc;
					font-size: 9px;
				//	background: #fff;
				}
				>.irs-from {
					background: #fff;
					color: #0071cc;
					font-size: 12px;
				}
				>.irs-to {
					background: #fff;
					color: #0071cc;
					font-size: 12px;
				}
				>.irs-single {
					background: #fff;
					color: #0071cc;
					font-size: 12px;
				}
				>.irs-with-grid {
					height: 65px;
					left: 15px;
				}
				>.irs-grid-pol {
				//	background: #ccc;
				}
				>.irs-grid {
				//	bottom: 4px;
				//	left: 0;
				//	width: 50%;
				//	height: 10px;
				}
			}
			 >span.irs-handle {
				 height: 20px;
				 width: 20px;
				 top: 28px;
				 bottom: 7px;
				 border: 4px solid #0071cc;
			 }
			>span.irs-handle.from {
				i {
					background: #e4e4e4;
				}
			}
		}
		>.ui-state-default {
			border: 3px solid #fff;
			background-color: #0071cc !important;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;
		}
		>.ui-slider-horizontal {
			.ui-slider-handle {
				top: -9px;
				margin-left: 0px;
				border-radius: 100%;
				background: #fff;
				width: 20px;
				height: 20px;
			}
		}
		>.ui-widget.ui-widget-content {
			background: rgba(0, 0, 0, 0.15);
		}
		>ul {
			font-size: 15px;
			margin: 0 0;
			>li {
				display: inline-flex;
				max-width: 100%;
				margin: 0px 100px 0px 7px;
				margin-bottom: 0;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				max-height: 100%;
				position: relative;
				line-height: 24px;
				width: 182px;
			}
		}
	}
	div.form-group {
		margin: 10px 10px;
		padding: 5px 5px;
	}
}
.ui-widget-content {
	.ui-state-default {
		border: 3px solid #fff;
		background-color: #0071cc !important;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;
	}
}
#kelas {
	div.form-group {
		margin: 10px 10px;
		padding: 5px 5px;
	}
	div {
		>ul {
			font-size: 15px;
			margin: 0 0;
			>li {
				display: inline-flex;
				max-width: 100%;
				margin: 0px 100px 0px 7px;
				margin-bottom: 0;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				max-height: 100%;
				position: relative;
				line-height: 24px;
				width: 182px;
			}
		}
	}
}
#kereta {
	div.form-group {
		margin: 10px 10px;
		padding: 5px 5px;
	}
	div {
		>ul {
			font-size: 15px;
			margin: 0 0;
			>li {
				display: inline-flex;
				max-width: 100%;
				margin: 0px 100px 0px 7px;
				margin-bottom: 0;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				max-height: 100%;
				position: relative;
				line-height: 24px;
				width: 182px;
			}
		}
	}
}
#jam-berangkat {
	div.form-group {
		margin: 10px 10px;
		padding: 5px 5px;
	}
	div {
		>ul {
			font-size: 15px;
			margin: 0 0;
			>li {
				display: inline-flex;
				max-width: 100%;
				margin: 0px 100px 0px 7px;
				margin-bottom: 0;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				max-height: 100%;
				position: relative;
				line-height: 24px;
				width: 182px;
			}
		}
	}
}
.travellers-dropdown {
	z-index: 3000 !important;
	.qty {
		.btn {
			font-size: inherit;
			font-weight: 500;
			padding-top: 2px;
			padding-bottom: 2px;
			border-radius: 10px;
			border-color: #e5e5e5;
		}
	}
}
.sticky-top {
	z-index: 1 !important;
	display: flexbox;
	flex-direction: column;
	justify-content: space-between;
}
#avail {
	div {
		>.title1 {
			font-size: 13px;
			font-weight: 300;
			font-size: 14px;
			font-weight: 500;
		}
		>#total-bayar {
			background: linear-gradient(37deg, rgba(250, 250, 250, 0.8) 0%, #ffffff 100%, rgba(0, 0, 0, 0.15) 100%);
		}
		>#aktif-pergi {
			border-bottom: 0.5px dashed rgba(0, 0, 0, 0.15) !important;
			div.border-right {
				border-right: 0.5px dashed rgba(0, 0, 0, 0.15) !important;
			}
		}
	}
	div.card-body {
		&:hover {
			-webkit-transition: all 0.1s ease;
			transition: all 0.1s ease;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;
		}
		border-radius: 5px;
	}
}
.title2 {
	font-size: 13px;
	font-weight: 300;
}
.station {
	font-size: 13px;
	font-weight: 300;
}
.duration {
	font-size: 13px;
	font-weight: 300;
	font-size: 14px;
	font-weight: 500;
}
.price {
	font-size: 13px;
	font-weight: 300;
	font-size: 14px;
	font-weight: 500;
}
.time {
	font-size: 14px;
	font-weight: 500;
}
#sort-avail {
	* {
		>div {
			>a {
				text-align: left;
				font-size: 13px;
			}
		}
	}
	border-radius: 5px;
	background: linear-gradient(-45deg, #fff 100%, rgba(250, 250, 250, 0.8) 100%);
	border-top: 0.5px solid #eee;
	margin-top: -3px;
}
#myGroup {
	font-size: 13px;
	font-weight: 300;
	color: #999;
	ul {
		margin-bottom: -8px;
		padding-left: 0;
		padding-top: 12px;
		>li {
			display: inline-flex;
			position: relative;
			top: 0px;
			margin-bottom: -10px;
			text-decoration: none;
			list-style: none;
			padding: 5px 0;
			padding-right: 20px;
			>a {
				&:hover {
					border-bottom: 2px solid rgb(0, 101, 179);
					-webkit-transition: all 0.1s ease;
					transition: all 0.1s ease;
				}
			}
		}
	}
}
#myGroup2 {
	font-size: 13px;
	font-weight: 300;
	color: #999;
	ul {
		margin-bottom: -8px;
		padding-left: 0;
		padding-top: 12px;
		>li {
			display: inline-flex;
			position: relative;
			top: 0px;
			margin-bottom: -10px;
			text-decoration: none;
			list-style: none;
			padding: 5px 0;
			padding-right: 20px;
			>a {
				&:hover {
					border-bottom: 2px solid rgb(0, 101, 179);
					-webkit-transition: all 0.1s ease;
					transition: all 0.1s ease;
				}
			}
		}
	}
}
#itinerary {
	font-size: 15px;
	font-weight: 400;
	color: #000;
}
#details {
	div {
		>h5 {
			font-size: 15px;
			font-weight: 400;
			color: #000;
		}
	}
}
.page-header {
	.breadcrumb {
		font-size: 12px !important;
		font-weight: 400;
		>li {
			a {
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
				color: white;
			}
		}
		>h6 {
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
			color: white;
			font-size: 15px;
			font-weight: 500;
		}
	}
}
#detilpergi {
	font-size: 15px;
	font-weight: 500;
	color: green;
	cursor: pointer;
	line-height: 17px;
	&::after {
		content: "\f107";
		font-family: "Font Awesome 5 Free";
		font-size: 18px;
		font-weight: 900;
		line-height: 19px;
		float: right;
		color: green;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
#detilpulang {
	font-size: 15px;
	font-weight: 500;
	color: green;
	cursor: pointer;
	line-height: 17px;
	&::after {
		content: "\f107";
		font-family: "Font Awesome 5 Free";
		font-size: 18px;
		font-weight: 900;
		line-height: 19px;
		float: right;
		color: green;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
#detilpergi.accordion.collapsed {
	&::after {
		content: "\f107";
		font-family: "Font Awesome 5 Free";
	}
}
#detilpulang.accordion.collapsed {
	&::after {
		content: "\f107";
		font-family: "Font Awesome 5 Free";
	}
}
#detilpergi.accordion[aria-expanded="true"] {
	&:after {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}
#detilpulang.accordion[aria-expanded="true"] {
	&:after {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}
.bg-dashed {
	height: 85px;
	position: absolute;
	top: -26px;
	left: 24px;
	border-left: 1px dashed #007bff;
}
.title-dashed {
	margin-top: 15px;
	height: 25px;
	color: #999;
}
.alert-gray {
	p {
		font-size: 12px;
		font-weight: 300;
		color: #777;
		padding: 5px;
		margin: 0;
		border: 1px solid #eee;
		border-radius: 5px;
		background-color: #eee;
	}
}
.alert-yellow {
	p {
		font-size: 12px;
		font-weight: 300;
		color: #856404;
		padding: 5px;
		margin-bottom: 0;
		border: 1px solid #fff3cd;
		border-radius: 5px;
		background-color: #fff3cd;
	}
}
#aktif-pulang {
	border-bottom: 0.5px dashed rgba(0, 0, 0, 0.15) !important;
	div.border-right {
		border-right: 0.5px dashed rgba(0, 0, 0, 0.15) !important;
	}
}
#avail.bg-results {
	background: linear-gradient(-45deg, #e9ecef 0%, #fff 100%, #f8f9fa 10%);
	box-shadow: 0 10px 20px #ccc;
	margin-top: 10px !important;
	margin-bottom: 1px;
	border-radius: 5px 5px 0 0 !important;
	border-top: 0.5px solid #ffffff;
	border-left: 0.5px solid #e4e9ec;
	border-right: 0.5px solid #e4e9ec;
	z-index: 1024 !important;
}
.text-info {
	font-size: 10px;
	color: #ccc !important;
	line-height: 12px;
	padding-top: 5px;
	margin-left: 3px !important;
}
#seat-selected {
	.p-card {
		width: 100%;
		max-width: 180px;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: relative;
	}
	.p-card.active {
		border: 1px solid #ffc107;
		margin-bottom: 10px;
		border-radius: 5px;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
	}
}
.p-card.active {
	.p-chair {
		min-width: 54px;
		background-color: #ffc107;
		position: relative;
		float: left;
		height: 100%;
		h6 {
			font-size: 17px;
			font-weight: 500;
			color: #fff;
			text-align: center;
			padding-top: 14px;
			display: block;
			position: relative;
		}
	}
	.p-user {
		width: 100%;
		background-color: #ffc10775;
		height: 100%;
		padding-left: 70px;
		padding-top: 8px;
		h6 {
			font-size: 12px;
			font-weight: 500;
			color: #000;
		}
		h5 {
			font-size: 12px;
			font-weight: 500;
			line-height: 5px;
		}
	}
}
.p-card.selected {
	max-width: 200px;
	border: 1px solid #007bff75;
	padding: 0;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.10) !important;
	.p-chair {
		width: 54px;
		height: 100%;
		padding-top: 15px;
		margin-right: 15px;
		text-align: center;
		background: #007bff40;
		border-radius: 5px 0 0 5px;
		float: left;
		h6 {
			font-size: 15px;
			font-weight: 600;
			color: #0071cc;
		}
	}
	.p-user {
		width: 100%;
		height: 100%;
		h6 {
			padding-top: 8px;
			font-size: 12px;
			font-weight: 500;
			color: #0071cc;
		}
		h5 {
			font-size: 12px;
			font-weight: 500;
			line-height: 5px;
		}
	}
}
#wagon {
	border-bottom: 1px solid #e5e5e5 !important;
	border: none;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
	background: #fff;
	align-content: center;
	div {
		>button.btn-wagon {
			border: transparent;
			background-color: transparent;
			cursor: pointer;
			padding: 5px 0 5px 0;
		}
		>#wagon-name {
			h6 {
				font-size: 15px;
				font-weight: 500;
				color: #fff;
			}
			p {
				margin-top: -7px;
				font-size: 13px;
				font-weight: 300;
				margin-bottom: 0;
				color: #fff !important;
			}
			i {
				opacity: 1;
			}
		}
		>#cr-wagon {
			.carousel-item {
				&:active {
					+ {
						.w-list {
							background-color: yellow !important;
						}
					}
				}
			}
		}
	}
	#collapsex {
		text-align: center;
		padding: 0 5px 0 5px;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
		border-radius: 0 0 7px 7px;
		box-shadow: 0 2px 10px #dee2e6;
		z-index: 0;
		transition: all 0.2s ease;
		div {
			>.carousel-control {
				display: block;
				width: 100%;
				min-width: 100px;
				height: 100%;
				background-color: #0000000e;
				padding: 5px 0;
				border-radius: 5px;
			}
			>.carousel-control.active {
				background-color: #fff;
				transition-timing-function: ease-out;
				transition: 0.5s;
			}
		}
		i {
			display: none;
		}
		p {
			font-size: 10px;
			font-weight: 500;
			line-height: 5px;
			color: #ff0018;
			margin-bottom: 3px;
		}
		h6 {
			font-size: 12px;
			font-weight: 600;
			color: #0071cc;
		}
		.w-list {
			padding: 1px 0 0 1px;
			border-radius: 5px;
			margin: 5px;
			border: 1px solid #dee2e6;
		}
	}
	.w-name {
		width: 100%;
		height: auto;
		color: #fff;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 8px 8px 0 0;
		background: var(--bg3);
		box-shadow: 0 8px 15px #ccc;
		z-index: 1;
	}
	.w-block {
		width: 100%;
		overflow-x: visible;
		position: relative;
	}
	.w-seat {
		font-size: 10px;
		font-weight: 300;
		padding: 25px 0;
		position: relative;
		display: flex;
		margin-left: 55px;
		margin-right: 55px;
		.w-col {
			width: 25px;
			height: 25px;
			border: none;
			border-radius: 5px;
			text-align: center;
			user-select: none;
			line-height: 26px;
			font-size: 13px;
			font-weight: inherit;
			color: #999;
			margin-right: 7px;
			margin-bottom: 5px;
			display: block;
			position: relative;
		}
		.w-row {
			width: 25px;
			height: 25px;
			border: none;
			font-size: 10px;
			text-align: center;
			user-select: none;
			vertical-align: middle;
			color: #0071cc;
			margin-right: 5px;
			margin-bottom: 5px;
			display: inline-block;
			position: relative;
		}
		.w-chair {
			width: 25px;
			height: 25px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-align: center;
			vertical-align: middle;
			background-color: #fff;
			color: #fff;
			margin-right: 5px;
			margin-bottom: 5px;
			display: inline-block;
			position: relative;
			input {
				display: none;
				&:checked {
					+ {
						.checkmark {
							background-color: #0071cc;
							border: 1px solid transparent;
						}
					}
					~ {
						.checkmark {
							&:after {
								display: block;
							}
						}
					}
				}
			}
			&:hover {
				input {
					~ {
						.checkmark {
							background-color: orange;
							border: 1px solid transparent;
							display: block;
							position: relative;
						}
					}
				}
			}
		}
		.w-booked {
			width: 25px;
			height: 25px;
			border: 1px solid #cccccc4d;
			border-radius: 5px;
			font-size: 10px;
			line-height: 26px;
			text-align: center;
			user-select: none;
			vertical-align: middle;
			color: #f0f0f0;
			background-color: #0000000f;
			margin-right: 5px;
			margin-bottom: 5px;
			display: inline-block;
			position: relative;
			transition: opacity 0.5s ease;
			&:hover {
				color: #999;
				font-size: 10px;
			}
		}
		.w-chair.active {
			input {
				&:focus {
					~ {
						.checkmark {
							background-color: orange;
							border: 1px solid transparent;
							transition: opacity 0.5s ease;
						}
					}
				}
			}
		}
	}
	.w-legend {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		border-radius: 0 0 8px 8px;
		border-top: 1px solid rgba(0, 0, 0, 0.04);
		background: var(--bg1);
		ul {
			list-style: none;
			text-decoration: none;
		}
		li {
			display: inline-flex;
			>h5 {
				font-size: 12px;
				padding-right: 10px;
				margin-left: 10px;
				margin-top: 4px;
			}
			>div {
				width: 20px;
				height: 20px;
				border: 1px solid #fff;
				border-radius: 6px;
				background-color: transparent;
				box-shadow: 0 5px 5px #dee2e6;
			}
			>div.active {
				background-color: #ffa500;
			}
			>div.selected {
				background-color: #0071cc;
			}
			>div.available {
				border: 1px solid #ccc !important;
				background-color: #fff;
			}
			>div.booked {
				background-color: #0000000f;
			}
		}
	}
	.carousel-inner {
		overflow-x: auto;
		height: 190px;
	}
	.carousel-control-next {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 3% !important;
		text-align: center;
		opacity: 0.5;
		color: #ccc;
		transition: opacity 0.5s ease;
		border-radius: 0 25px 25px 0;
		right: -41px;
		background-color: transparent;
		width: 33px !important;
		&:hover {
			color: #ffa500;
			opacity: 0.8;
		}
	}
	.carousel-control-prev {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 3% !important;
		text-align: center;
		opacity: 0.5;
		color: #ccc;
		transition: opacity 0.5s ease;
		border-radius: 25px 0 0 25px;
		left: -41px;
		background-color: transparent;
		width: 33px !important;
		&:hover {
			color: #ffa500;
			opacity: 0.8;
		}
	}
	select.w-selected {
		background-color: transparent;
		color: #fff;
		width: auto;
	}
}
.checkmark {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-size: 10px;
	font-weight: 400;
	line-height: 23px;
	text-align: center;
	color: #fff;
	top: -1px;
	left: -1px;
	cursor: pointer;
	transition: opacity 0.5s ease;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}
@media (min-width: 991px) {
	.navbar-expand-lg {
		.navbar-nav {
			-ms-flex-direction: row;
			flex-direction: row;
			background-color: #ffffff;
		}
	}
}
@media (min-width: 1140px) {
	#jam-berangkat {
		div {
			>ul {
				>li {
					margin-right: 165px;
					width: 185px;
				}
			}
		}
	}
	#harga-tikets {
		div {
			>ul {
				>li {
					margin-right: 50%;
				}
			}
		}
	}
	#slider-range {
		width: 60%;
	}
}
@media screen and (max-width: 1140px) and (min-width: 1025px) {
	#wagon {
		#collapsex {
			p {
				font-size: 10px;
				font-weight: 300;
				line-height: 5px;
				color: #fd0018;
			}
			h6 {
				font-size: 14px;
				font-weight: 500;
				color: #0071cc;
			}
		}
	}
}
@media screen and (max-width: 425px) {
	#wagon {
		#collapsex {
			.w-list {
				h6 {
					font-size: 12px;
					font-weight: 600;
					color: #0071cc;
				}
				p {
					font-size: 10px;
					font-weight: 300;
					line-height: 0;
					color: #e50000;
				}
			}
		}
	}
}
@media screen and (min-width: 1440px) {
	#wagon {
		.w-seat {
			font-size: 12px;
			font-weight: normal;
			padding: 15px 20px;
			position: relative;
			display: flex;
			margin-left: 40px;
			margin-right: 40px;
		}
		.carousel-control-prev {
			border-radius: 0 5px 5px 0;
			left: -45px !important;
		}
		.carousel-control-next {
			border-radius: 0 5px 5px 0;
			right: -45px !important;
		}
	}
}
@media screen and (max-width: 1024px) and (min-width: 425px) {
	#wagon {
		.w-seat {
			font-size: 14px;
			font-weight: normal;
			padding: 15px 20px;
			position: relative;
			display: flex;
			margin-left: 30px;
			margin-right: 30px;
		}
		.carousel-control-prev {
			border-radius: 0 5px 5px 0;
			left: -35px !important;
		}
		.carousel-control-next {
			border-radius: 0 5px 5px 0;
			right: -35px !important;
		}
	}
}
