const StyleCSS = {
  
  ":root": {
    "-Bg1": "linear-gradient(-45deg, #e9ecef 0%, #fff 100%, #f8f9fa 10%)",
    "-Bg2":
      "linear-gradient(37deg, rgba(250, 250, 250, 0.8) 0%, #ffffff 100%, rgba(0, 0, 0, 0.15) 100%)",
    "-Bg3":
      "linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%)",
    "-Bg4": "linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%)"
  },
  body: {
    background: "#e7e9ed",
    color: "#777",
    fontFamily: '"Poppins", sans-serif',
    fontSize: "14px !important",
    lineHeight: "22px !important"
  },
  "body::-webkit-scrollbar": { width: "10px" },
  "body::-webkit-scrollbar-track": {
    WebkitBoxShadow: "inset 0 0 6px #e5e5e5",
    borderRadius: "10px"
  },
  "body::-webkit-scrollbar-thumb": {
    backgroundImage:
      "-webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent))"
  },
  ".btn-primary": {
    backgroundColor: "#0071cc",
    borderColor: "rgba(250, 250, 250, 0.8)"
  },
  ".font-weight-md": { fontSize: "14px", fontWeight: "500 !important" },
  ".bg-gradient-blue": {
    background: "linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%)",
    boxShadow: "0 10px 20px #ccc",
    marginTop: "10px !important",
    marginBottom: "1px",
    borderRadius: "5px 5px 0 0 !important",
    borderTop: "0.5px solid #ffffff",
    borderLeft: "0.5px solid #e4e9ec",
    borderRight: "0.5px solid #e4e9ec"
  },
  ".navbar-brand": {
    display: "inline-block",
    paddingTop: "5px",
    marginRight: "5px"
  },
  ".navbar .navbar-nav": {
    fontSize: "14px",
    padding: "10px 15px",
    color: "rgb(0, 0, 0)",
    fontWeight: "500",
    textTransform: "uppercase",
    textAlign: "center"
  },
  ".navbar-toggler": { width: "23px !important" },
  "#menu .dropdown-menu": {
    left: "-89px !important",
    boxShadow: "rgba(0, 0, 0, 0.15) 0px 5px 20px 5px",
    border: "none",
    borderRadius: "5px"
  },
  "@media (min-width: 991px)": {
    ".navbar-expand-lg .navbar-nav": {
      msFlexDirection: "row",
      flexDirection: "row",
      backgroundColor: "#ffffff"
    }
  },
  ".navbar .navbar-nav .nav-link": {
    fontSize: "14px",
    padding: "10px 15px !important",
    color: "rgb(0, 0, 0)",
    cursor: "pointer",
    fontWeight: "600",
    textTransform: "uppercase",
    textAlign: "center",
    borderBottom: "4px solid transparent",
    transition: "all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s"
  },
  ".navbar-light .navbar-nav .nav-link.active": {
    borderBottom: "4px solid rgb(0, 101, 179)",
    transition: "all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s"
  },
  ".navbar-light .navbar-nav .nav-link": {
    borderBottom: "4px solid transparent"
  },
  ".navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active": {
    fontSize: "14px",
    padding: "10px 15px !important",
    color: "rgb(0, 101, 179)",
    cursor: "pointer",
    fontWeight: "600",
    textTransform: "uppercase",
    textAlign: "center",
    borderBottom: "4px solid rgb(0, 101, 179)",
    transition: "all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s"
  },
  ".navbar-expand-md .navbar-nav .nav-link": {
    padding: "10px 15px !important"
  },
  ".navbar-toggler .collapsed button": { width: "20px", height: "20px" },
  "#header": { background: "#fff", position: "relative", zIndex: "1000" },
  ".login-form": { padding: "15px !important", textTransform: "capitalize" },
  "section.page-header.bg-page-header": {
    fontSize: "12px",
    lineHeight: "10px",
    background: [
      "rgb(3,79,140)",
      "linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%)"
    ]
  },
  ".owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev": {
    backgroundColor: "transparent !important"
  },
  ".owl-carousel.single-slider .owl-nav button.owl-prev": {
    left: "7% !important"
  },
  ".owl-carousel.single-slider .owl-nav button.owl-next": {
    right: "7% !important"
  },
  ".owl-carousel.owl-drag .owl-item > .owl-caption h1, .owl-caption1 h1": {
    position: "relative",
    color: "#fff",
    top: "150px",
    fontSize: "40px",
    fontWeight: "500",
    textAlign: "center",
    zIndex: "5",
    animationDuration: "2s",
    animationDelay: "1s"
  },
  ".owl-carousel.owl-drag .owl-item > .owl-caption h4, .owl-caption1 h4": {
    position: "relative",
    color: "yellow",
    top: "150px",
    fontSize: "20px",
    fontWeight: "300",
    textAlign: "center",
    zIndex: "10",
    animationDuration: "2s",
    animationDelay: "1s"
  },
  ".owl-carousel.owl-drag .owl-item .owl-back": {
    position: "absolute",
    backgroundImage:
      "radial-gradient( circle farthest-corner at -3.1% -4.3%, #a00b10 0%, rgb(0, 101, 179) 90% )",
    opacity: "0.6",
    top: "0",
    bottom: "0",
    width: "100%",
    height: "100%"
  },
  ".owl-carousel.owl-drag .owl-item .btn-danger": {
    fontSize: "15px",
    fontWeight: "600"
  },
  ".progress": {
    height: "5px !important",
    background:
      "linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, #f8f9fa 35%, #dee2e6 100%)",
    WebkitTransition: "none !important",
    transition: "none !important"
  },
  ".bg-progress": {
    background: "linear-gradient(45deg, #fff 35%, #ffc107 100%)"
  },
  ".bg-pattern": {
    backgroundImage: "url(../img/pattern-travel.png)",
    backgroundSize: "contain",
    backgroundBlendMode: "luminosity",
    backgroundPosition: "center",
    opacity: "0.5"
  },
  "#search-form": {
    position: "relative",
    top: "-116px",
    marginBottom: "-100px",
    zIndex: "2"
  },
  "#search-form .nav": { display: "flex", flexWrap: "nowrap" },
  "#search-form .card": {
    top: "-68px",
    backgroundColor: "rgba(250, 250, 250, 0)",
    boxShadow: "rgba(0, 0, 0, 0.10) 0px 1px 6px 2px"
  },
  "#search-form .card:hover": {
    boxShadow: "rgba(0, 0, 0, 0.10) 0px 5px 20px 5px",
    transition: "all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s"
  },
  "#search-form .card-body": {
    borderRadius: "0 0 10px 10px",
    padding: "8px",
    backgroundColor: "#fff",
    border: "1px solid #f8f9fa"
  },
  "#search-form .nav-link": {
    minWidth: "200px",
    height: "65px",
    lineHeight: "20px",
    padding: "13px 5px",
    fontSize: "15px",
    fontWeight: "600",
    color: "rgb(119, 119, 119)",
    textAlign: "center",
    borderBottom: "5px solid transparent"
  },
  "#search-form .nav-link:hover": {
    minWidth: "200px",
    color: "#0071cc",
    borderBottom: "5px solid rgb(0, 101, 179)",
    transition: "all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s"
  },
  "#search-form .nav-link.active": {
    color: "rgb(0, 101, 179)",
    borderBottom: "5px solid rgb(0, 101, 179)"
  },
  "#search-form .card-header": {
    height: "inherit",
    marginBottom: "0",
    backgroundImage:
      "radial-gradient( circle farthest-corner at -3.1% -4.3%, #ccc 0%, #e9ecef 90% )",
    borderRadius: "10px 10px 0 0",
    overflowX: "auto",
    overflowY: "hidden"
  },
  "#flight div.bg-light": {
    padding: "10px 15px 0 15px",
    borderRadius: "0 0px 10px 10px"
  },
  "#hotel div.bg-light": {
    padding: "10px 15px 0 15px",
    borderRadius: "0 0 10px 10px"
  },
  "#train div.bg-light": {
    padding: "10px 15px 0 15px",
    borderRadius: "0 0 10px 10px"
  },
  ".btn-search": {
    backgroundColor: "#ffc107 !important",
    borderColor: "#ffc107 !important"
  },
  ".btn-outline-search": {
    color: "#fff !important",
    backgroundColor: "rgb(0, 101, 179) !important",
    borderColor: "rgb(0, 101, 179) !important"
  },
  ".btn-outline-search:hover": {
    backgroundColor: "#c2191f",
    color: "#ffff !important",
    boxShadow: "0px 5px 15px rgba(0, 0, 0, 0.15) !important",
    WebkitTransition: "all 0.1s ease",
    transition: "all 0.1s ease"
  },
  ".btn.btn-link.float-right": {
    color: "#ffc107",
    fontSize: "15px",
    fontWeight: "400",
    textDecoration: "none"
  },
  ".btn.btn-link.float-right:hover": { color: "#fff" },
  ".featured-box .featured-box-icon": {
    display: "inline-block",
    fontSize: "40px !important",
    paddingTop: "20px"
  },
  ".featured-box.style-4 .featured-box-icon": {
    width: "70px !important",
    height: "70px !important",
    fontSize: "25px !important",
    color: "#fff !important",
    boxShadow: "0px 5px 15px rgba(0, 0, 0, 0.15) !important"
  },
  ".featured-box.style-4 .featured-box-icon i.fas": {
    fontSize: "25px !important"
  },
  ".img-fluid": { maxWidth: "100%", height: "160px !important" },
  "#back-to-top": {
    bottom: "50px !important",
    right: "23px !important",
    backgroundColor: "#ccc !important"
  },
  "#back-to-top:hover": { backgroundColor: "rgb(0, 101, 179) !important" },
  "#filterTop div > .filter-header": {
    padding: "5px 10px",
    fontSize: "14px",
    fontWeight: "400",
    cssFloat: "left"
  },
  "#filterTop div > .filter-header a.collapsed": {
    color: "#000",
    fontWeight: "400"
  },
  "#filterTop div > .filter-header a": {
    color: "orange",
    fontWeight: "400",
    fontSize: "14px",
    padding: "5px 10px",
    background: "#fff",
    textAlign: "left",
    width: "120px"
  },
  "#filterTop div > .filter-header a::after": {
    content: '"\\f107"',
    fontFamily: '"Font Awesome 5 Free"',
    fontSize: "18px",
    fontWeight: "900",
    lineHeight: "19px",
    cssFloat: "right",
    color: "orange",
    WebkitTransition: "all 0.5s ease",
    transition: "all 0.5s ease"
  },
  '#filterTop div > .filter-header a[aria-expanded="true"]:after': {
    WebkitTransform: "rotate(-180deg)",
    MozTransform: "rotate(-180deg)",
    transform: "rotate(-180deg)"
  },
  "#filterTop div > button > i": { color: "orange", paddingLeft: "5px" },
  "#filterTop div > ul > li > .custom-control-input:checked ~ .custom-control-label::before": {
    color: "#fff",
    borderColor: "#ffc107 !important",
    backgroundColor: "#ffc107 !important"
  },
  "#filterTop div > .filter-header .status": {
    position: "relative",
    backgroundColor: "#fd6372",
    width: "10px",
    height: "10px",
    borderRadius: "25px",
    border: "solid 1px white",
    boxShadow: "0 2px 5px #ccc",
    display: "none",
    opacity: "0.3",
    left: "-3px",
    top: "-35px",
    WebkitTransition: "all 0.5s ease",
    transition: "all 0.5s ease"
  },
  "#filterTop div > .filter-header a[input:checked] ~ .status::after": {
    position: "relative",
    backgroundColor: "#fd6372",
    width: "10px",
    height: "10px",
    borderRadius: "25px",
    border: "solid 1px white",
    boxShadow: "0 2px 5px #ccc",
    display: "block",
    opacity: "1"
  },
  "#filterTop div.card.bg-gradient-blue": {
    background: "linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%)",
    boxShadow: "0 10px 20px #ccc",
    marginTop: "10px !important",
    marginBottom: "1px",
    borderRadius: "5px 5px 0 0 !important",
    borderTop: "0.5px solid #ffffff",
    borderLeft: "0.5px solid #e4e9ec",
    borderRight: "0.5px solid #e4e9ec"
  },
  "#filterTop div > .filter-reset": {
    padding: "5px 0px",
    display: "block",
    cssFloat: "left",
    fontSize: "14px",
    marginLeft: "-10px"
  },
  "#filterTop div > .filter-header span": {
    paddingTop: "5px",
    display: "block",
    height: "100%"
  },
  "#harga-tiket div > span > .irs-bar": {
    height: "7px",
    top: "24px",
    background:
      "linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, rgba(255, 193, 7, 0.7) 35%, rgb(220, 53, 69) 100%)"
  },
  "#harga-tiket div > span > span > .irs-line": {
    height: "5px",
    background:
      "linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #dee2e6 35%, #e4e9ec 100%)"
  },
  "#harga-tiket div > span > span > .irs-min": {
    color: "#999",
    background: "#fff"
  },
  "#harga-tiket div > span > span > .irs-max": {
    color: "#999",
    background: "#fff"
  },
  "#harga-tiket div > span > span > .irs-grid-text": {
    color: "#ccc",
    background: "#fff"
  },
  "#harga-tiket div > span > span > .irs-from": {
    background: "#fff",
    color: "#000"
  },
  "#harga-tiket div > span > span > .irs-to": {
    background: "#fff",
    color: "#000"
  },
  "#harga-tiket div > span > span.irs-handle": { height: "11px" },
  "#harga-tiket div > span > span.irs-handle.from i": { background: "#e4e4e4" },
  "#harga-tiket div > span > span > .irs-grid-pol": { background: "#ccc" },
  "#harga-tiket div > span > span > .irs-grid": {
    bottom: "4px",
    left: "0",
    width: "100%",
    height: "20px"
  },
  "#harga-tiket div > .ui-state-default, .ui-widget-content .ui-state-default": {
    border: "3px solid #fff",
    backgroundColor: "#0071cc !important",
    boxShadow: "0px 2px 5px rgba(0, 0, 0, 0.15) !important"
  },
  "#harga-tiket div > .ui-slider-horizontal .ui-slider-handle": {
    top: "-9px",
    marginLeft: "0px",
    borderRadius: "100%",
    background: "#fff",
    width: "20px",
    height: "20px"
  },
  "#harga-tiket div > .ui-widget.ui-widget-content": {
    background: "rgba(0, 0, 0, 0.15)"
  },
  "#kelas div.form-group, #kereta div.form-group, #jam-berangkat div.form-group, #harga-tiket div.form-group": {
    margin: "10px 10px",
    padding: "5px 5px"
  },
  "#kelas div > ul, #kereta div > ul, #jam-berangkat div > ul, #harga-tiket div > ul": {
    fontSize: "15px",
    margin: "0 0"
  },
  "#kelas div > ul > li, #kereta div > ul > li, #jam-berangkat div > ul > li, #harga-tiket div > ul > li": {
    display: "inline-flex",
    maxWidth: "100%",
    margin: "0px 100px 0px 7px",
    marginBottom: "0",
    WebkitColumnCount: "2",
    MozColumnCount: "2",
    columnCount: "2",
    maxHeight: "100%",
    position: "relative",
    lineHeight: "24px",
    width: "182px"
  },
  "@media (min-width: 1140px)": {
    "#kelas div > ul > li": {},
    "#kereta div > ul > li": {},
    "#jam-berangkat div > ul > li": { marginRight: "165px", width: "185px" },
    "#harga-tikets div > ul > li": { marginRight: "50%" },
    "#slider-range": { width: "60%" }
  },
  ".travellers-dropdown": { zIndex: "3000 !important" },
  ".travellers-dropdown .qty .btn": {
    paddingTop: "5px",
    paddingBottom: "5px",
    borderRadius: "5px"
  },
  ".sticky-top": {
    zIndex: "1 !important",
    display: "flexbox",
    flexDirection: "column",
    justifyContent: "space-between"
  },
  "#avail div > .title1, .title2, .station, .duration, .price": {
    fontSize: "13px",
    fontWeight: "300"
  },
  "#avail div > .title1, .time, .duration, .price": {
    fontSize: "14px",
    fontWeight: "500"
  },
  "#avail div.card-body:hover": {
    WebkitTransition: "all 0.1s ease",
    transition: "all 0.1s ease",
    boxShadow: "0px 2px 5px rgba(0, 0, 0, 0.15) !important"
  },
  "#avail div.card-body": { borderRadius: "5px" },
  "#sort-avail * > div > a": { textAlign: "left", fontSize: "13px" },
  "#sort-avail": {
    borderRadius: "5px",
    background:
      "linear-gradient(-45deg, #fff 100%, rgba(250, 250, 250, 0.8) 100%)",
    borderTop: "0.5px solid #eee",
    marginTop: "-3px"
  },
  "#myGroup, #myGroup2": { fontSize: "13px", fontWeight: "300", color: "#999" },
  "#myGroup ul, #myGroup2 ul": {
    marginBottom: "-8px",
    paddingLeft: "0",
    paddingTop: "12px"
  },
  "#myGroup ul > li, #myGroup2 ul > li": {
    display: "inline-flex",
    position: "relative",
    top: "0px",
    marginBottom: "-10px",
    textDecoration: "none",
    listStyle: "none",
    padding: "5px 0",
    paddingRight: "20px"
  },
  "#myGroup ul > li > a:hover, #myGroup2 ul > li > a:hover": {
    borderBottom: "2px solid rgb(0, 101, 179)",
    WebkitTransition: "all 0.1s ease",
    transition: "all 0.1s ease"
  },
  "#itinerary, #details div > h5": {
    fontSize: "15px",
    fontWeight: "400",
    color: "#000"
  },
  ".page-header .breadcrumb": {
    fontSize: "12px !important",
    fontWeight: "400"
  },
  ".page-header .breadcrumb > li a": {
    WebkitTransition: "all 0.2s ease",
    transition: "all 0.2s ease",
    color: "white"
  },
  ".page-header .breadcrumb > h6": {
    WebkitTransition: "all 0.2s ease",
    transition: "all 0.2s ease",
    color: "white",
    fontSize: "15px",
    fontWeight: "500"
  },
  "#detilpergi, #detilpulang": {
    fontSize: "15px",
    fontWeight: "500",
    color: "green",
    cursor: "pointer",
    lineHeight: "17px"
  },
  "#detilpergi::after, #detilpulang::after": {
    content: '"\\f107"',
    fontFamily: '"Font Awesome 5 Free"',
    fontSize: "18px",
    fontWeight: "900",
    lineHeight: "19px",
    cssFloat: "right",
    color: "green",
    WebkitTransition: "all 0.5s ease",
    transition: "all 0.5s ease"
  },
  "#detilpergi.accordion.collapsed::after, #detilpulang.accordion.collapsed::after": {
    content: '"\\f107"',
    fontFamily: '"Font Awesome 5 Free"'
  },
  '#detilpergi.accordion[aria-expanded="true"]:after, #detilpulang.accordion[aria-expanded="true"]:after': {
    WebkitTransform: "rotate(-180deg)",
    MozTransform: "rotate(-180deg)",
    transform: "rotate(-180deg)"
  },
  ".bg-dashed": {
    height: "85px",
    position: "absolute",
    top: "-26px",
    left: "24px",
    borderLeft: "1px dashed #007bff"
  },
  ".title-dashed": { marginTop: "15px", height: "25px", color: "#999" },
  ".alert-gray p": {
    fontSize: "12px",
    fontWeight: "300",
    color: "#777",
    padding: "5px",
    margin: "0",
    border: "1px solid #eee",
    borderRadius: "5px",
    backgroundColor: "#eee"
  },
  ".alert-yellow p": {
    fontSize: "12px",
    fontWeight: "300",
    color: "#856404",
    padding: "5px",
    marginBottom: "0",
    border: "1px solid #fff3cd",
    borderRadius: "5px",
    backgroundColor: "#fff3cd"
  },
  "#avail div > #total-bayar": {
    background:
      "linear-gradient(37deg, rgba(250, 250, 250, 0.8) 0%, #ffffff 100%, rgba(0, 0, 0, 0.15) 100%)"
  },
  "#avail div > #aktif-pergi, #aktif-pulang": {
    borderBottom: "0.5px dashed rgba(0, 0, 0, 0.15) !important"
  },
  "#avail div > #aktif-pergi div.border-right, #aktif-pulang div.border-right": {
    borderRight: "0.5px dashed rgba(0, 0, 0, 0.15) !important"
  },
  "#avail.bg-results": {
    background: "linear-gradient(-45deg, #e9ecef 0%, #fff 100%, #f8f9fa 10%)",
    boxShadow: "0 10px 20px #ccc",
    marginTop: "10px !important",
    marginBottom: "1px",
    borderRadius: "5px 5px 0 0 !important",
    borderTop: "0.5px solid #ffffff",
    borderLeft: "0.5px solid #e4e9ec",
    borderRight: "0.5px solid #e4e9ec",
    zIndex: "1024 !important"
  },
  ".text-info": {
    fontSize: "10px",
    color: "#ccc !important",
    lineHeight: "12px",
    paddingTop: "5px",
    marginLeft: "3px !important"
  },
  "#seat-selected .p-card": {
    width: "100%",
    maxWidth: "180px",
    height: "50px",
    marginLeft: "auto",
    marginRight: "auto",
    display: "block",
    position: "relative"
  },
  "#seat-selected .p-card.active": {
    border: "1px solid #ffc107",
    marginBottom: "10px",
    borderRadius: "5px",
    boxShadow: "0 .5rem 1rem rgba(0,0,0,.15) !important"
  },
  ".p-card.active .p-chair": {
    minWidth: "54px",
    backgroundColor: "#ffc107",
    position: "relative",
    cssFloat: "left",
    height: "100%"
  },
  ".p-card.active .p-chair h6": {
    fontSize: "17px",
    fontWeight: "500",
    color: "#fff",
    textAlign: "center",
    paddingTop: "14px",
    display: "block",
    position: "relative"
  },
  ".p-card.active .p-user": {
    width: "100%",
    backgroundColor: "#ffc10775",
    height: "100%",
    paddingLeft: "70px",
    paddingTop: "8px"
  },
  ".p-card.active .p-user h6": {
    fontSize: "12px",
    fontWeight: "500",
    color: "#000"
  },
  ".p-card.active .p-user h5": {
    fontSize: "12px",
    fontWeight: "500",
    lineHeight: "5px"
  },
  ".p-card.selected": {
    maxWidth: "200px",
    border: "1px solid #007bff75",
    padding: "0",
    marginBottom: "10px",
    borderRadius: "5px",
    boxShadow: "0 .5rem 1rem rgba(0,0,0,.10) !important"
  },
  ".p-card.selected .p-chair": {
    width: "54px",
    height: "100%",
    paddingTop: "15px",
    marginRight: "15px",
    textAlign: "center",
    background: "#007bff40",
    borderRadius: "5px 0 0 5px",
    cssFloat: "left"
  },
  ".p-card.selected .p-chair h6": {
    fontSize: "15px",
    fontWeight: "600",
    color: "#0071cc"
  },
  ".p-card.selected .p-user": { width: "100%", height: "100%" },
  ".p-card.selected .p-user h6": {
    paddingTop: "8px",
    fontSize: "12px",
    fontWeight: "500",
    color: "#0071cc"
  },
  ".p-card.selected .p-user h5": {
    fontSize: "12px",
    fontWeight: "500",
    lineHeight: "5px"
  },
  "#wagon": {
    borderBottom: "1px solid #e5e5e5 !important",
    border: "none",
    borderRadius: "0 0 8px 8px",
    boxShadow: "0 10px 20px rgba(0, 0, 0, 0.15)",
    marginBottom: "20px",
    background: "#fff",
    alignContent: "center"
  },
  "#wagon div > button.btn-wagon": {
    border: "transparent",
    backgroundColor: "transparent",
    cursor: "pointer",
    padding: "5px 0 5px 0"
  },
  "#wagon div > #wagon-name h6": {
    fontSize: "15px",
    fontWeight: "500",
    color: "#fff"
  },
  "#wagon div > #wagon-name p": {
    marginTop: "-7px",
    fontSize: "13px",
    fontWeight: "300",
    marginBottom: "0",
    color: "#fff !important"
  },
  "#wagon div > #wagon-name i": { opacity: "1" },
  "#wagon #collapsex": {
    textAlign: "center",
    padding: "0 5px 0 5px",
    borderBottom: "0.5px solid rgba(0, 0, 0, 0.1)",
    borderRadius: "0 0 7px 7px",
    boxShadow: "0 2px 10px #dee2e6",
    zIndex: "0",
    transition: "all 0.2s ease"
  },
  "#wagon #collapsex div > .carousel-control": {
    display: "block",
    width: "100%",
    minWidth: "100px",
    height: "100%",
    backgroundColor: "#0000000e",
    padding: "5px 0",
    borderRadius: "5px"
  },
  "#wagon #collapsex div > .carousel-control.active": {
    backgroundColor: "#fff",
    transitionTimingFunction: "ease-out",
    transition: "0.5s"
  },
  "#wagon #collapsex i": { display: "none" },
  "#wagon #collapsex p": {
    fontSize: "10px",
    fontWeight: "500",
    lineHeight: "5px",
    color: "#ff0018",
    marginBottom: "3px"
  },
  "#wagon #collapsex h6": {
    fontSize: "12px",
    fontWeight: "600",
    color: "#0071cc"
  },
  "#wagon #collapsex .w-list": {
    padding: "1px 0 0 1px",
    borderRadius: "5px",
    margin: "5px",
    border: "1px solid #dee2e6"
  },
  "@media screen and (max-width: 1140px) and (min-width: 1025px)": {
    "#wagon #collapsex p": {
      fontSize: "10px",
      fontWeight: "300",
      lineHeight: "5px",
      color: "#fd0018"
    },
    "#wagon #collapsex h6": {
      fontSize: "14px",
      fontWeight: "500",
      color: "#0071cc"
    }
  },
  "@media screen and (max-width: 425px)": {
    "#wagon #collapsex .w-list h6": {
      fontSize: "12px",
      fontWeight: "600",
      color: "#0071cc"
    },
    "#wagon #collapsex .w-list p": {
      fontSize: "10px",
      fontWeight: "300",
      lineHeight: "0",
      color: "#e50000"
    }
  },
  "#wagon .w-name": {
    width: "100%",
    height: "auto",
    color: "#fff",
    paddingTop: "15px",
    paddingBottom: "15px",
    marginLeft: "auto",
    marginRight: "auto",
    borderRadius: "8px 8px 0 0",
    background: "var(--bg3)",
    boxShadow: "0 8px 15px #ccc",
    zIndex: "1"
  },
  "#wagon .w-block": {
    width: "100%",
    overflowX: "visible",
    position: "relative"
  },
  "#wagon .w-seat": {
    fontSize: "10px",
    fontWeight: "300",
    padding: "25px 0",
    position: "relative",
    display: "flex",
    marginLeft: "55px",
    marginRight: "55px"
  },
  "@media screen and (min-width: 1440px)": {
    "#wagon .w-seat": {
      fontSize: "12px",
      fontWeight: "normal",
      padding: "15px 20px",
      position: "relative",
      display: "flex",
      marginLeft: "40px",
      marginRight: "40px"
    },
    "#wagon .carousel-control-prev": {
      borderRadius: "0 5px 5px 0",
      left: "-45px !important"
    },
    "#wagon .carousel-control-next": {
      borderRadius: "0 5px 5px 0",
      right: "-45px !important"
    }
  },
  "@media screen and (max-width: 1024px) and (min-width: 425px)": {
    "#wagon .w-seat": {
      fontSize: "14px",
      fontWeight: "normal",
      padding: "15px 20px",
      position: "relative",
      display: "flex",
      marginLeft: "30px",
      marginRight: "30px"
    },
    "#wagon .carousel-control-prev": {
      borderRadius: "0 5px 5px 0",
      left: "-35px !important"
    },
    "#wagon .carousel-control-next": {
      borderRadius: "0 5px 5px 0",
      right: "-35px !important"
    }
  },
  "#wagon .w-seat .w-col": {
    width: "25px",
    height: "25px",
    border: "none",
    borderRadius: "5px",
    textAlign: "center",
    userSelect: "none",
    lineHeight: "26px",
    fontSize: "13px",
    fontWeight: "inherit",
    color: "#999",
    marginRight: "7px",
    marginBottom: "5px",
    display: "block",
    position: "relative"
  },
  "#wagon .w-seat .w-row": {
    width: "25px",
    height: "25px",
    border: "none",
    fontSize: "10px",
    textAlign: "center",
    userSelect: "none",
    verticalAlign: "middle",
    color: "#0071cc",
    marginRight: "5px",
    marginBottom: "5px",
    display: "inline-block",
    position: "relative"
  },
  "#wagon .w-seat .w-chair": {
    width: "25px",
    height: "25px",
    border: "1px solid #ccc",
    borderRadius: "5px",
    textAlign: "center",
    verticalAlign: "middle",
    backgroundColor: "#fff",
    color: "#fff",
    marginRight: "5px",
    marginBottom: "5px",
    display: "inline-block",
    position: "relative"
  },
  "#wagon .w-seat .w-booked": {
    width: "25px",
    height: "25px",
    border: "1px solid #cccccc4d",
    borderRadius: "5px",
    fontSize: "10px",
    lineHeight: "26px",
    textAlign: "center",
    userSelect: "none",
    verticalAlign: "middle",
    color: "#f0f0f0",
    backgroundColor: "#0000000f",
    marginRight: "5px",
    marginBottom: "5px",
    display: "inline-block",
    position: "relative",
    transition: "opacity 0.5s ease"
  },
  "#wagon .w-seat .w-booked:hover": { color: "#999", fontSize: "10px" },
  "#wagon .w-seat .w-chair input": { display: "none" },
  ".checkmark": {
    position: "absolute",
    width: "25px",
    height: "25px",
    border: "1px solid #ccc",
    borderRadius: "5px",
    backgroundColor: "#fff",
    fontSize: "10px",
    fontWeight: "400",
    lineHeight: "23px",
    textAlign: "center",
    color: "#fff",
    top: "-1px",
    left: "-1px",
    cursor: "pointer",
    transition: "opacity 0.5s ease"
  },
  "#wagon .w-seat .w-chair:hover input ~ .checkmark": {
    backgroundColor: "orange",
    border: "1px solid transparent",
    display: "block",
    position: "relative"
  },
  "#wagon .w-seat .w-chair input:checked + .checkmark": {
    backgroundColor: "#0071cc",
    border: "1px solid transparent"
  },
  "#wagon .w-seat .w-chair.active input:focus ~ .checkmark": {
    backgroundColor: "orange",
    border: "1px solid transparent",
    transition: "opacity 0.5s ease"
  },
  ".checkmark:after": { content: '""', position: "absolute", display: "none" },
  "#wagon .w-seat .w-chair input:checked ~ .checkmark:after": {
    display: "block"
  },
  "#wagon .w-legend": {
    width: "100%",
    marginLeft: "auto",
    marginRight: "auto",
    textAlign: "center",
    borderRadius: "0 0 8px 8px",
    borderTop: "1px solid rgba(0, 0, 0, 0.04)",
    background: "var(--bg1)"
  },
  "#wagon .w-legend ul": { listStyle: "none", textDecoration: "none" },
  "#wagon .w-legend li": { display: "inline-flex" },
  "#wagon .w-legend li > h5": {
    fontSize: "12px",
    paddingRight: "10px",
    marginLeft: "10px",
    marginTop: "4px"
  },
  "#wagon .w-legend li > div": {
    width: "20px",
    height: "20px",
    border: "1px solid #fff",
    borderRadius: "6px",
    backgroundColor: "transparent",
    boxShadow: "0 5px 5px #dee2e6"
  },
  "#wagon .w-legend li > div.active": { backgroundColor: "#ffa500" },
  "#wagon .w-legend li > div.selected": { backgroundColor: "#0071cc" },
  "#wagon .w-legend li > div.available": {
    border: "1px solid #ccc !important",
    backgroundColor: "#fff"
  },
  "#wagon .w-legend li > div.booked": { backgroundColor: "#0000000f" },
  "#wagon .carousel-inner": { overflowX: "auto", height: "190px" },
  "#wagon .carousel-control-next, #wagon .carousel-control-prev": {
    position: "absolute",
    top: "0",
    bottom: "0",
    zIndex: "1",
    display: ["-ms-flexbox", "flex"],
    msFlexAlign: "center",
    alignItems: "center",
    msFlexPack: "center",
    justifyContent: "center",
    width: "3% !important",
    textAlign: "center",
    opacity: "0.5",
    color: "#ccc",
    transition: "opacity 0.5s ease"
  },
  "#wagon .carousel-control-next:hover , #wagon .carousel-control-prev:hover": {
    color: "#ffa500",
    opacity: "0.8"
  },
  "#wagon .carousel-control-prev": {
    borderRadius: "25px 0 0 25px",
    left: "-41px",
    backgroundColor: "transparent",
    width: "33px !important"
  },
  "#wagon .carousel-control-next": {
    borderRadius: "0 25px 25px 0",
    right: "-41px",
    backgroundColor: "transparent",
    width: "33px !important"
  },
  "#wagon select.#w-selected": {
    backgroundColor: "transparent",
    color: "#fff",
    width: "auto"
  },
  "#wagon div > #cr-wagon .carousel-item:active + .w-list": {
    backgroundColor: "yellow !important"
  }
};
